<form [formGroup]="applicationForm">
  <ng-container formArrayName="forms">
    <ng-container *ngFor="let fields of applicationFields;let i=index" >
      <div class="row"><div class="col-sm-6"><h2>{{fields.title}}</h2></div><div class="col-sm-6"><button *ngIf="fields.showRevokeButton" type="button" (click)="revokeApplication(i)" class="btn btn-danger btn-sm" style="float: right;">Revoke</button><button  type="button" (click)="printPDF(i)" class="btn btn-primary btn-sm" style="float: right;">Print</button></div></div>
      <hr>
    <ng-container  *ngFor="let field of fields.formFields;" [formGroupName]="i" [ngSwitch]="field.type">
    <div class="row mb-3" *ngSwitchCase="'text'">
      <label for="inputEmail3" class="col-sm-2 col-form-label">{{field.label}}</label>
      <div class="col-sm-10">
        <input type="text" class="form-control"  formControlName={{field.formControlName}}>
      </div>
    </div>
    <div class="row mb-3" *ngSwitchCase="'date'">
      <label for="inputPassword3" class="col-sm-2 col-form-label">{{field.label}}</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" (change)="onValueChange(i,field.formControlName)"  formControlName={{field.formControlName}}  >
      </div>
    </div>
    <div class="row mb-3" *ngSwitchCase="'dropdown'">
        <!-- <label for="inputPassword3" class="col-sm-2 col-form-label">{{field.label}}</label>
        <div class="col-sm-10">
          <input type="date" class="form-control"  formControlName={{field.formControlName}}>
        </div> -->
        <label for="inputState" class="col-sm-2 col-form-label">{{field.label}}</label>
        <div class="col-sm-10">
        <select id="inputState" class="form-select" (change)="onValueChange(i,field.formControlName)"  multiple="multiple" formControlName={{field.formControlName}}>
          <option *ngFor="let i of field.options"  value={{i.id}}> {{i.value}}</option>
        </select>
        </div>
      </div>
    <fieldset class="row mb-3" *ngSwitchCase="'radio'">
      <legend class="col-form-label col-sm-2 pt-0">{{field.label}}</legend>
      <div class="col-sm-10">
        <div class="form-check" *ngFor="let f of field.options">
          <input class="form-check-input" type="radio" id={{f.id}} (change)="onValueChange(i,field.formControlName,f.id)"  value={{f.id}} formControlName={{field.formControlName}}>
          <label class="form-check-label" for={{f.id}}>
            {{f.value}}
          </label>
        </div>
      </div>
    </fieldset>
</ng-container>
</ng-container>
</ng-container>
<button type="button"  class="btn btn-primary" [disabled]="!applicationForm.valid" (click)="save('save','formgroup',applicationForm.value)">Save</button>
  </form>
