<mat-form-field class="example-form-field" appearance="fill">
  <mat-label>Search</mat-label>
  <input matInput type="text" [(ngModel)]="value" #input>
  <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<div class="mat-elevation-z8">
   
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="applicationId">
        <th mat-header-cell *matHeaderCellDef> Application Number </th>
        <td mat-cell *matCellDef="let element"><a (click)="fa(element,'bulkEdit')">{{element.applicationId}}</a>  </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="mobilenumber">
        <th mat-header-cell *matHeaderCellDef> Mobile Number </th>
        <td mat-cell *matCellDef="let element"> {{element.mobilenumber}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="dateCreated">
        <th mat-header-cell *matHeaderCellDef> Date Created </th>
        <td mat-cell *matCellDef="let element"> {{element.dateCreated}} </td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="firstAppeal">
        <th mat-header-cell *matHeaderCellDef> First Appeal </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.firstAppeal; else loggedOut">
          <button >View First Appeal</button>
          </div>
          
          <ng-template #loggedOut>
            <button (click)="fa(element,'firstappealapplication')"> First Appeal</button>
          </ng-template> </td>
      </ng-container>
        <!-- Symbol Column -->
      <ng-container matColumnDef="commissionAppeal">
        <th mat-header-cell *matHeaderCellDef> Commission Appeal </th>
        <td mat-cell *matCellDef="let element">    
          <div *ngIf="element.commissionAppeal; else loggedOut">
          <button>View Commission Appeal</button>
          </div>
          
          <ng-template #loggedOut>
            <button (click)="fa(element,'commissionappealapplication')" > Commission Appeal</button>
          </ng-template> </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSize]=10
                   showFirstLastButtons 
                   (page)="onPageChange($event)"
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  <mat-spinner style="margin:0 auto;"  *ngIf="isLoading"
  mode="indeterminate"></mat-spinner>
  
  
  <!-- Copyright 2021 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->